body .container {
  font-size: 14.4px;
  max-width: 800px;
}

.print-header {
  display: none;
}
@media print {
  .print-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 4px #bbb solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
    align-items: center;
  }
  .print-header .item {
  }
}


#site-description {
  padding-top: 2.4em;
  padding-bottom: 2.4em;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
}
#site-description h3 {
  font-size: 2em;
  margin: 0;
  font-weight: normal;
}
#site-description p#read-more {
  text-align: right;
  margin: 6px 0 0;
}
#site-description p#read-more a, #site-description p#read-more a:visited {
  font-size: 1.4em;
  color: #515151;
}
#site-description p#read-more a:hover {
  color: #919191;
}
#site-description {
  background-color: #C8F417;
  border-top: 2px solid #fff;
  color: #444;
}


.article.card {
  padding: 12px;
  border: 1px #ddd solid;
  border-radius: 6px;
  margin-bottom: 20px;
}
.article.card .meta {
  font-weight: bold;
  color: #777;
  margin-bottom: 6px;
}
.article.card .meta a {
  color: #777;
}
.article.card .tags {
  margin-bottom: 6px;
  color: #777;
}
.article.card p:last-child {
  margin-bottom: 0;
}


.container {
  margin-top: 10px;
}

.article-author-box {
  padding: 6px;
  border: 2px solid #e6ecf2;
}


.book-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.book-row .left {
  flex: 1 auto;
}
.book-row .left a {
}
.book-row .left img {
  width: 180px;
  margin-right: 1em;
  border: 4px #ccc solid;
}
.book-row .right {
  flex: 0 auto;
}


.banner {
  padding: 6px;
  border: 1px #FEEA89 solid;
  border-radius: 6px;
  background: #FFFDD1;
  margin: 1em 0;
}


.rfc {
  font-size: 1.2em;
}


.home-supported {
  padding: 10px;
  border: 1px #e2e2e2 solid;
  border-radius: 4px;
  background: #f2f2f2;
}
.home-supported .head {
  font-size: 14px;
}
.home-supported .cta {
  font-size: 18px;
}


.event {
  margin-top: 1em;
  margin-bottom: 1em;
}
.event .name {
  font-weight: bold;
  font-size: 1.2em;
}


footer {
  border-top: 3px #B2CCFF solid;
  padding: 30px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer .follow {
  font-size: 0.7rem;
  margin-right: 40px;
  float: right;
  padding: 20px 0;
}

footer .supported {
  font-size: 0.7rem;
  margin-left: 40px;
  padding: 20px 0;
}

footer .supported a {
  text-decoration: none;
  color: #555;
}

footer .supported a:hover {
  color: #777;
}

footer .supported img {
  vertical-align: middle;
  margin: 0;
  margin-left: 0.3em;
}

footer .source {
  text-align: center;
  font-size: 14px;
}

footer .source a {
  text-decoration: none;
}
